.footer-block {
  text-align: center;
  margin-bottom: 60px;
  @include desk {
    text-align: left;
    margin-right: 85px;
    margin-bottom: 0;
  }
}

.footer-block__adress {
  margin-top: 20px;
}

.footer {
  background-color: var(--bg-color2);
  @include font(14px, null, 1.71, 0.03em);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  font-family: "Raleway", sans-serif;
  @include font(24px, 700, 1.19, 0.03em);
  @media screen and (min-width: 1200px) {
    @include font(26px, null, null, null);
  }
}

.footer__logo {
  color: var(--white-color);
}

.footer-block__text {
  color: var(--white-color);
  font-style: normal;
  margin-bottom: 9px;
}

.footer-block__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-block__link {
  color: var(--rgba-color);
  font-style: normal;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  fill: var(--white-color);
}

.footer-associate {
  text-align: center;
  margin-bottom: 60px;
  @include desk {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-associate__text {
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-container {
  text-align: center;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include desk {
    display: flex;
    align-items: baseline;
  }
}

.footer-associate {
  display: block;
  @include desk {
    margin-right: 93px;
  }
}

.subscription-label {
  color: var(--white-color);
  @include font(14px, 700, 1.14, 0.03em);
  font-family: inherit;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  @include desk {
    text-align: left;
  }
}

.subscription-input {
  font-family: inherit;
  @include font(16px, 400, 1.25, 0.03em);
  text-align: left;
  color: var(--rgba-color);
  background-color: var(--bg-color2);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 450px;
  margin-bottom: 20px;
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @include tab {
    max-width: 450px;
  }
  @include desk {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscription-submit {
  fill: var(--white-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
  @include desk {
    margin-left: 12px;
  }
}

.subscription-submit__text {
  margin-right: 10px;
}

.form-subscription {
  @include desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-mailing {
  text-align: center;
  display: inline-block;
}
