@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color2: #2f303a;
  --bg-color1: #ffffff;
  --bg-color3: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --portfolio-shadow-link: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --color-icon: #afb1b8;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --main-font: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  width: 90vw;
  background-color: var(--bg-color1);
  box-shadow: var(--shadow);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--bg-color1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
}

.modal__button:hover .button__vector, .modal__button:focus .button__vector {
  fill: var(--accent-color);
}

.button__vector {
  fill: #000000;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* ---------------------------------------------------------Формы */
.modal-form__title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  display: block;
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  cursor: pointer;
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.modal-form__label {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form__span {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondery-text-color);
  margin-bottom: 4px;
}

.form-text {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-text:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-button {
  padding: 10px 55px;
  margin-top: 30px;
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form-button:hover, .form-button:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-color);
}

.form-input__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 11px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form__label:focus-within .form-input__icon {
  fill: var(--accent-color);
}

.label-agreement {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .label-agreement {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .label-agreement {
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
  }
}

.agreement-link {
  text-decoration-line: underline;
  color: var(--accent-color);
  text-align: justify;
}

.form-icon-check {
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: none;
  transition: border-color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.label-agreement:focus-within .form-icon-check {
  border-color: var(--accent-color);
}

.input-agreement:checked + .form-icon-check {
  border: transparent;
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
}

.social-networks {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mob-menu.is-hidden {
  left: 100%;
}

.mob-menu {
  position: fixed;
  background-color: var(--white-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
  transition: var(--transition-duration) var(--transition-timing-function), visibility var(--transition-timing-function);
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: block;
  background-color: var(--white-color);
  border: none;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.close-button {
  margin-left: auto;
  fill: var(--primary-text-color);
}

.mob-menu-list__link {
  display: block;
  font-family: var(--main-font);
  color: var(--primary-text-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact-list__link {
  display: block;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-contact-list__link:hover, .menu-contact-list__link:focus {
  color: var(--accent-color);
}

.menu-mail {
  font-size: 24px;
  color: var(--secondery-text-color);
}

.menu-contact-list__item:nth-child(1) {
  margin-bottom: 32px;
}

.menu-contact-list__item:nth-child(2) {
  margin-bottom: 64px;
}

.menu-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-social-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-open-btn {
  border: transparent;
  background-color: transparent;
  margin-left: auto;
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu-list__link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}

.header__container {
  display: flex;
  align-items: center;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo {
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo .accent {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-list__link {
  position: relative;
  display: flex;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__link.current {
  color: var(--accent-color);
}

.header-list__link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: flex;
  width: 100%;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .heder-contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .heder-contact-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-contact-list {
  margin-left: auto;
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-contact-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact-list {
    display: flex;
    align-items: center;
  }
}

.header-contact-list__icon {
  margin-right: 10px;
  fill: var(--secondery-text-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-contact-list__link {
  color: var(--secondery-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header-contact-list__link:hover, .header-contact-list__link:focus {
  color: var(--accent-color);
}

.header-contact-list__link:hover .header-contact-list__icon, .header-contact-list__link:focus .header-contact-list__icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--bg-color2);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/img/Header-mb1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/Header-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/Header-tab1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/Header-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/header-desk-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/header-desk2x.jpg);
  }
}

.hero__title {
  color: var(--white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

/* Button-primary */
.button-primary {
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: var(--btn-hover-color);
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.icon-tasks {
  width: 100%;
  height: 120px;
  background-color: var(--bg-color3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about-icon-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about-icon-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-icon-list {
    display: flex;
    margin-left: -30px;
  }
}

.about-icon-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-icon-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-icon-list__item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.about-list__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-list__title {
    text-align: justify;
  }
}

@media screen and (min-width: 1200px) {
  .about-list__title {
    text-align: justify;
  }
}

.about-list__text {
  color: var(--secondery-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .work-list {
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.thumb {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-text {
  font-family: "Titan One" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products-title {
  font-family: "Titan One" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.products-container {
  width: 100%;
  height: 485px;
  background: #FFB8CA;
  border-radius: 24px;
  padding: 161px 40px 45px 40px;
}

@media screen and (min-width: 768px) {
  .products-container {
    padding: 152px 11px 40px 11px;
  }
}

@media screen and (min-width: 1280px) {
  .products-container {
    padding: 163px 44px 50px 44px;
  }
}

.container-ice-coffe {
  background: #F0D1A5;
}

.container-milkshakes {
  background: #C2E297;
}

.products-list__item:not(:last-child) {
  margin-bottom: 130px;
}

.products-container__title {
  font-family: "Titan One" sans-serif;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products-container__title::after {
  content: "...";
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #FFFFFF;
  display: block;
}

.products-container__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.ice-cream-item::before {
  content: "";
  display: block;
  max-width: 335px;
  height: 335px;
  background-image: url(../images/products-img/icecream-desk-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-bottom: -50px;
}

.products-label {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin: auto;
}

.products-icon {
  fill: #d41443;
}

.product-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #d41443;
}

.text-hidden {
  display: none;
}

.checkbox-hidden {
  appearance: none;
}

.hide {
  display: none;
}

.checkbox-hidden:checked ~ .text-hidden {
  display: block;
}

.checkbox-hidden:checked ~ .products-label {
  display: none;
}

.checkbox-hidden:checked ~ .products-label {
  display: flex;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients-list__link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover, .clients-list__link:focus {
  background-color: var(--bg-color1);
  border-color: var(--accent-color);
}

.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  background-color: var(--bg-color1);
  fill: var(--accent-color);
}

.clients-list__item {
  margin-bottom: 30px;
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
}

.clients-list__icon {
  fill: var(--color-icon);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
  }
}

.footer-block {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-block {
    text-align: left;
    margin-right: 85px;
    margin-bottom: 0;
  }
}

.footer-block__adress {
  margin-top: 20px;
}

.footer {
  background-color: var(--bg-color2);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.footer__logo {
  color: var(--white-color);
}

.footer-block__text {
  color: var(--white-color);
  font-style: normal;
  margin-bottom: 9px;
}

.footer-block__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-block__link {
  color: var(--rgba-color);
  font-style: normal;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-block__link:hover, .footer-block__link:focus {
  color: var(--accent-color);
}

.footer-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: var(--accent-color);
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  fill: var(--white-color);
}

.footer-associate {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-associate {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-associate__text {
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-associate {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-associate {
    margin-right: 93px;
  }
}

.subscription-label {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: inherit;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscription-label {
    text-align: left;
  }
}

.subscription-input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--rgba-color);
  background-color: var(--bg-color2);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 450px;
  margin-bottom: 20px;
}

@media screen and (max-width: 479px) {
  .subscription-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .subscription-input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscription-submit {
  fill: var(--white-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.subscription-submit:hover, .subscription-submit:focus {
  background-color: var(--btn-hover-color);
}

@media screen and (min-width: 1200px) {
  .subscription-submit {
    margin-left: 12px;
  }
}

.subscription-submit__text {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .form-subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-mailing {
  text-align: center;
  display: inline-block;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__item:nth-child(4) {
  margin-bottom: -15px;
}

.button-list__item:nth-child(5) {
  margin-bottom: -15px;
}

.button.btn-active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  min-width: 38px;
  display: block;
  background-color: var(--bg-color3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.button:hover, .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}

@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 0;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.card-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}

/* Project-title */
.projects {
  flex-grow: 1;
  padding: 20px 24px;
  background-color: var(--white-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-top: 0;
  box-sizing: border-box;
}

.project__title {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* Project-text */
.project__text {
  color: var(--secondery-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.card-list__link:hover, .card-list__link:focus {
  box-shadow: var(--portfolio-shadow-link);
}

.card-list__link:hover .overlay, .card-list__link:focus .overlay {
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  color: var(--white-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transform: translatey(101%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

@media screen and (max-width: 479px) {
  .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 480px) {
  .overlay {
    padding: 77px 24px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */