:root {
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color2: #2f303a;
  --bg-color1: #ffffff;
  --bg-color3: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --btn-hover-color: #188ce8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --portfolio-shadow-link: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --color-icon: #afb1b8;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --main-font: "Roboto", sans-serif;
}
